body {
    background-image: url(/air-jordan-retro-2018-top-10-1.jpg)
}

.samir {
    background-color: rgba(27,26,25, 0.9);
    border-radius: 10px;
    border-style: solid;
  border-color:rgb(190,98,21);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 80px;
}

.sbedri {
    display: flex;
   margin: 0;
    justify-content: space-between;
    border: 2px solid rgb(190,98,21);

}

.aydi {
    display: flex;
}

.white {
    display: flex;
}

.white img {
    width: 130px;
    background-color: rgb(228, 228, 228);
    margin: 5px 30px
}

.white p {
    font-size: 24px;
    margin: 50px 20px;
    color: rgb(242,242,242);
    text-align: center
}

.sbedri button {
    width: 50px;
    height: 50px;
    font-size: 34px;
    margin: 50px 30px;
    cursor: pointer;
}
.butt span{
    font-size: 28px;
    color: rgb(242,242,242);
}
#sbed1.butt #com1{
    position: fixed;

}
.logo i {
    font-size: 28px;
    color: grey;
    margin: 30px;
    cursor: pointer;
}

.logo i {
    font-size: 28px;
    color: grey;
    cursor: pointer;
}

.logo {
    margin: 20px
}
.som {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0
}

.som h2{
    font-size: 24px;
    text-align: center;
    color: rgb(242,242,242);
    position: fixed;
 margin: 0 -30px
}
.total h2{
    color: rgb(190,98,21);
    text-align: center;

}
